.flex{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin:20px;
  
}
.card-body{
    background-color: rgb(254, 253, 253);
}
.darkcardbody{
    background-color: rgb(130, 130, 130);
    color:white;
    border: none;
}
.btn {
 margin-top: 20px;
 background-color: pink;
}
.card-text{
    padding: 10px;
}
.bold{
    font-weight: bold;
}
.prize{
    text-decoration: line-through;
}
.rate{
     color:orange
}
.card-img-top{
    height: 300px;
}
.button{
    background-color: rgb(251, 98, 124);
    border: none;
    padding: 10px 30px;
    color: white;
    margin: 18px 58px;
    
}
.darkbutton{
    background-color: rgb(3, 3, 3);
    border: none;
    padding: 10px 30px;
    color: white;
    margin: 18px 58px;
}
.button:hover{
    background-color: rgb(62, 210, 84);
    
   
}
.darkbutton:hover{
    background-color:  rgb(251, 98, 124);}
    @media screen and (max-width:984px){
    .card{
        margin-left: 105px;
    }
}
   

@media screen and (max-width:825px){
    .card{
        margin-left: 60px;
    }
}

@media screen and (max-width:736px){
    .card{
        margin-left: 20px;
    }
}
@media screen and (max-width:656px){
    .card{
        margin-left: 0px;
    }
}
@media screen and (max-width:616px){
    .card{
        margin-left: 160px;
    }
}
@media screen and (max-width:520px){
    .card{
        margin-left: 110px;
    }
}
@media screen and (max-width:435px){
    .card{
        margin-left: 80px;
    }
}
@media screen and (max-width:405px){
    .card{
        margin-left: 40px;
    }
}
@media screen and (max-width:405px){
    .card{
        margin-left: 30px;
    }
}
@media screen and (max-width:331px){
    .card{
        margin-left: 10px;
    }
}
@media screen and (max-width:310px){
    .card{
        margin-left: 1px;
    }
}